# Auto detect text files and perform LF normalization
* text=auto
<doctype HTML>

<Head> <center>
<h1> <center> <div> Ace Fujikawa </h1>
<p> <h2> The coolest ultimate at hope's peak!! </div> </h2> </center>
<body style="background-color:SlateBlue;">
<b> <p> Sex: </b> Cis male
<b><p> Age: </b> 21
<p><b> Likes: </b> cats, animanga, deadplate, pokemon
<p><b> Dislikes:</b> his cousin, spicy food, kids
<p><b> fun fact: </b> Ace has the worst sleeping and eating schedule out of the entire cast. nobody knows why but he has a horrible time trying to sleep (+ he forgets to eat)

<p><b> Personality: </b> Ace is a very.. Energetic guy! Most of the cast love him for it. some complain he's too loud and annoying but ace will try to ignore them. He's not letting them control him the same way people did back in high school. he changed everything about himself just to get nothing in return, he felt entirely pathetic for years after that. Ace is a very talkative guy too, he loves rambling on about things like his special interests, its practically impossible to get him to shut up about them when he's in a good mood.
<b><p> Backstory: </b> He was quite a gifted child but after all the bullying from others he just stopped coming to school, causing his grades to drop dramatically. Ace also didn't have a good homelife but he almost always refuses to get into it. Jay is one of the only people who knows about it.
<p> <p> <h3> other cast websites!! </h3> 
<body>

<head>